@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #19f7a6;
  --secondary: #e6fff6;
}
/* Disable scroll bounce effect */
html,
body {
  scroll-behavior: smooth;

  overscroll-behavior: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  * {
    @apply m-0 p-0;
  }

  body {
    @apply bg-background text-foreground font-yekanBakh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.leaflet-container {
  border-radius: 12px;
}

.leaflet-touch .leaflet-bar {
  border: 0 !important;
  padding: 2px;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* .leaflet-control-attribution {
  display: none;
} */

/* global.css */

/* فعال کردن اسکرول نرم */
html {
  scroll-behavior: smooth;
}

/* استایل‌دهی به اسکرول بار */
::-webkit-scrollbar {
  width: 8px;
  /* عرض اسکرول بار */
}

::-webkit-scrollbar-track {
  background: #fffcfc;
  /* رنگ پس‌زمینه */
}

::-webkit-scrollbar-thumb {
  background-color: #e6fff6;
  /* رنگ دسته اسکرول بار */
  border-radius: 10px;
  /* گرد کردن گوشه‌های دسته */
  border: 2px solid transparent;
  /* حاشیه شفاف برای فضای داخلی */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* رنگ هنگام هاور روی اسکرول بار */
}

::placeholder {
  color: rgb(173, 173, 173) !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: rgb(173, 173, 173) !important;
}
